
# IDEs
.idea/


# Dependences
**/node_modules/

# ORTHANC Storage
/backend/Services/Orthanc/storage

# Backend
**/pgdata
**/venv/

## Services

### Orthanc
/backend/Services/Orthanc/config/Scripts/starter_script.sh


### Nifti PACS
/backend/Services/NiftiPACS/NiftiPACS/pgdata
/backend/Services/NiftiPACS/venv
/backend/Services/NiftiPACS/uploads

**/__pycache__
*.env
